# Build
build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
Makefile
compile_commands.json

# Binary
*.o
*.so
*.a
*.out
*.exe

# ROOT
*.root

# Editors
.vscode/
.idea/

# macOS
.DS_Store

# Data
data/
mc/
_fig/
_root/

# ROOT / analysis outputs
*.d
*.pcm
*.png
*.pdf
_plots/
_backup_*

# editor configs
.clang-format
.vscode/
